.TableAutoSizerContainer {
  flex: 1 1 auto;
}

.inputBox {
  height: 0;
  margin-top: -100000px;
}

.input {
  position: absolute;
  background: black;
  color: white;
  font-size: 1rem;
  border: 1px solid red;
  z-index: 999;
}
